:root {
    --color: #85586F;
    --color: #AC7D88;
    --color: #DEB6AB;
    --color: #F8ECD1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #F8ECD1;
}

header {
    background-color: rgb(172, 125, 136, 0.8);
}

footer {
    background-color: #85586F;
}
;