:root {
    --color: #85586F;
    --color: #AC7D88;
    --color: #DEB6AB;
    --color: #F8ECD1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #F8ECD1;
}

header {
    background-color: #AC7D88;
}

footer {
    background-color: #85586F;
}
;