* {
}

 /* _______________________________________ */
/* __________ Start Header Here __________ */

#header {
    width: 100%;
    height: 100px;
    padding: 20px;
    
    text-align: right;
    position: fixed;

    display: inline;
}

/* Imagem de Perfil */
.profile {
    display: flex;

    position: absolute;
    padding: 50px;
    padding-left: 250px;
}

.profile img {
    border-radius: 20px;
    margin: auto;
}

#header .header__container ul li {
    display: inline-block;
    position: relative;

}

#header .header__container ul li a {
    list-style: none;
    text-decoration: none;

    padding: 40px;
    font-size: 20px;

    color: #F8ECD1;
}

#header .header__container ul li a:hover {
    text-decoration: underline;
    font-weight: bold;

    color: brown;
};

 /* __________ End Header Here __________ */
/* _____________________________________ */
